.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
label{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 5px;
  font-size: 20px;
}
#del,#mark{
  height: 50px;
  width: 50px;
}
.icon{
  width: 72px;
  height: 72px;
  cursor: pointer;
}
.red{
  background-color: red;
  font-style: italic;
}
img{
  height: 100px;
  widows: 100px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
